<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% link styles.css %}">
    <title>{{ page.title }} | nomad]</title>
</head>
<body>
    <header id="navbar">
        <nav>
            <a href="{% link index.html%}"><div class="logo">nomad0ranges</div></a>
            <ul>
                <li><a href="{% link index.html%}">./Home</a></li>
                <li><a href="{% link writeups.html %}">./Write-ups</a></li>
                <li><a href="{% link about.md %}">./About</a></li>
            </ul>
        </nav>
    </header>

    <div class="post-format">
        <section id="main-content" class="terminal-style">
            <h1>{{page.title}}</h1>
            <p>{{page.date | date_to_string}} - {{page.author}}</p>
            {{ content }}
        </section>

    </div>

    <footer>
        <p>&copy; 2025 nomad0ranges. All rights reserved. | Security is a mindset.</p>
    </footer>
</body>
</html>