<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>{{ page.title }} | nomad]</title>
</head>
<body>
    <header id="navbar">
        <nav>
            <div class="logo">nomad0ranges</div>
            <ul>
                <li><a href="/">./Home</a></li>
                <li><a href="/view-posts">./Write-ups</a></li>
            </ul>
        </nav>
    </header>

    <div class="post-format">
        <section id="main-content" class="terminal-style">
            {{ content }}
        </section>
    </div>

    <footer>
        <p>&copy; 2025 nomad0ranges. All rights reserved. | Security is a mindset.</p>
    </footer>
</body>
</html>